@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Jost:wght@300;400;500;600;700;800;900&display=swap");

/* 
font-family: 'Hammersmith One', sans-serif;

*/
html {
  font-size: 10px;
}

.App {
  font-family: "Jost", sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

.title {
  font-family: "Hammersmith One", sans-serif;
  font-size: 4.5rem;
  text-align: center;
  user-select: none;
  color: #8d99ae;
  transition: color 0.5s ease-in-out;
}

.title:hover {
  color: #edf2f4;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.label {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #d90429;
}

.input {
  font-size: 2rem;
  font-family: "Hammersmith One", sans-serif;
  width: 650px;
  height: 50px;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  border: 1px solid #edf2f4;
  outline: none;
}

.button {
  padding: 1rem 2.5rem;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #edf2f4;
  outline: none;
  border: none;
}

.button:hover {
  background-color: #60605e;
  color: #edf2f4;
}
