@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Jost:wght@300;400;500;600;700;800;900&display=swap");

/* 
font-family: 'Hammersmith One', sans-serif;

*/
html {
  font-size: 10px;
}

.App {
  font-family: "Jost", sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

.title {
  font-family: "Hammersmith One", sans-serif;
  font-size: 4.5rem;
  text-align: center;
  user-select: none;
  color: #8d99ae;
  transition: color 0.5s ease-in-out;
}

.title:hover {
  color: #edf2f4;
}
