* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2b2d42;
  color: #edf2f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
